p {
    color: #fff;
}

a{
    text-decoration: none;
}

.v-application ul, .v-application ol {
    padding-left: 0;
}

li{
    list-style: none;
}

img{
    max-width: 100%;
    height: auto;
}

*,*::before,*::after{
    box-sizing: border-box;
  }